.pis {
    font-size: large;
    font-family: 'Comic Sans MS,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pis:hover {
    color: cornflowerblue;
}

.litlePictures {
    width: 100px;
    height: 70px;
    padding-right: 5px;
    margin: auto;
    border-radius: 30%;
}

.picturesAndLis:hover {
    transform: scale(1.5);
}

.picturesAndLis {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 30%;
    text-align: center;
}