.moviedata {
    backGround: #fff;
    background-repeat: repeat;
    background-position: top;
    display: flex;
    position: relative;
    flex-direction: column;
    color: whitesmoke;
    padding-bottom: 30%;
    animation: moviedata ease 5s;
    -webkit-animation: moviedata ease 5s;
    -moz-animation: moviedata ease 5s;
    -o-animation: fmoviedata ease 5s;
    -ms-animation: moviedata ease 5s;
}

@keyframes moviedata {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes moviedata {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes moviedata {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes moviedata {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes moviedata {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    position: absolute;
}

#moviedataTitle {
    color: coral;
    font-family: 'Comic Sans MS,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 2;
}

#movieDataUl {
    margin-top: 25px;
    text-align: left;
    flex-direction: column;
}

.lis {
    list-style: none;
    z-index: 2;
    font-family: 'Comic Sans MS,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    padding-left: 0%;
    text-align: center;
}

.prefix {
    font-size: 22px;
    padding-right: 5px;
    color: coral;
}

#overViewDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    z-index: 2;
}

#overViewtitle {
    font-size: x-large;
    color: coral;
    font-family: 'Comic Sans MS,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#overViewP {
    font-size: medium;
}

.back-to-list {
    color: coral;
    font-size: large;
    font-weight: 200;
    z-index: 1;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}