#headerh1 {
    color: coral;
    font-family: 'Comic Sans MS,Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    margin: unset;
    border-bottom: 1px solid orange;
}