#searchResultsTitle {
    color: coral;
    margin-left: 20px;
    background-color: black;
    margin: unset;
}

ul {
    display: flex;
}

.resultsAndEachMovie {
    display: flex;
    flex-direction: column;
}

.resultsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../../movieProject.jpg);
    background-position: bottom;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
}

.eachMovie {
    background-repeat: no-repeat;
    background-color: black;
}