#searchResultsTitle {
    color: coral;
    margin-left: 20px;
}

ul {
    display: flex;
}

.resultsAndEachMovie {
    display: flex;
    flex-direction: column;
}

.resultsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eachMovie {
    background-repeat: no-repeat;
}