@import url("https://fonts.googleapis.com/css?family=Ranchers");
#searchResultsTitle {
    color: coral;
    margin-left: 20px;
    background-color: black;
    margin: unset;
    font-family: 'Ranchers', 'cursive', 'Droid';
}

ul {
    display: flex;
}

.resultsAndEachMovie {
    display: flex;
    flex-direction: column;
}

.resultsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../../movieProject.jpg);
    background-position: right;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    background-size: cover;
    padding-bottom: 295px;
}

.results-list-invisible {
    display: none;
}

.eachMovie {
    background-color: black;
}